<% @reviews.each do |rev| %>
<label>Airline:</label>
<%= rev.flight.airline%><br>
<label>Rating:</label>
<%= rev.rating %><br>
<label>Content:</label>
<%= rev.content %>
<hr>
<% end %>

<%= button_to "Main Menu", user_path(current_user), :method => :get %>
